body,html{
    height: 100%;
    margin: 0;
    padding: 0;
}
#main-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#787FF6;
}
#canva{
    background-color:white;
}
